:root {
    --morado: #881baf;
    --negro: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-image: linear-gradient(to right top, #000000, #250c19, #400d31, #551052, #621c7c);
    background-repeat: no-repeat;
    color: white;
}

nav {
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    border-radius: 1rem;
    padding: 10px 20px;
    transition: 1s ease;
    margin: 5px;
}

nav .navbar:hover {
    border-radius: 1rem;
    background-color: var(--morado);
    width: 100px;
    height: 40px;
    border-radius: 1rem;
    transition: 1s ease;
}

.header h2 {
    margin: 20px 0px;
    font-size: 2.2rem;
}

nav h2 {
    cursor: pointer;
    font-size: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
    position: sticky;
    top: 1px;
}

.header nav a {
    text-decoration: none;
}

#home {
    display: flex;
    flex-direction: row;
}

.presentation {
    margin: 80px 165px;
}

.presentation h1 {
    font-size: 55px;
    margin: 10px 10px 25px 0px;
}

.presentation h2 {
    font-size: 20px;
    margin-bottom: 2rem;
}

.presentation h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.presentation p {
    font-size: 1.4rem;
    margin-bottom: 1.7rem;
}

.presentation p span {
    font-size: 1.2rem;
}

.download {
    width: 125px;
    height: 45px;
    border-radius: 2rem;
    background-color: var(--morado);
    font-weight: bold;
    transition: 1s ease;
    border: none;
    margin-top: 10px;
    margin-right: 1rem;
}

.download:hover {
    background-color: #551052;
    width: 130px;
    height: 50px;
    transition: 1s ease;
}

.gameplay {
    background-color: transparent;
    width: 125px;
    height: 45px;
    border-radius: 2rem;
    font-weight: bold;
    border: 2px solid #ffffff;
    margin-top: 10px;
    transition: 1s ease;
}

.gameplay:hover {
    width: 130px;
    height: 50px;
    transition: 1s ease;
    border: 2px solid var(--morado);
}

.image_pekka {
    filter: drop-shadow(10px 15px 20px #621c7c);
    display: flex;
    align-items: center;
    z-index: -1;
}

.info {
    margin: 80px 165px;
}

.info h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.info h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.info p {
    font-size: 1.4rem;
    margin-bottom: 1.7rem;
}

.info p span {
    font-size: 1.2rem;
}

footer {
    padding: 1rem;
    background-color: #36223a;
    color: #fff;
}

.contact, a {
    text-align: center;
    color: #fff;
    margin: 5px;
    text-decoration: none;
}

footer p {
    margin: 10px;
    color: #fff;
}

.copy {
    text-align: center;
}

